body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/751373/pexels-photo-751373.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f0f0f0; /* Light grey background for contrast */
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between children */
    align-items: center;
    border-radius: 10px;
    background-color: rgb(196, 157, 157);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    width: 50%;
    min-width: 250px;
    max-width: 300px;
    padding: 20px;
    font-size: 13px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
   
}

.input-group {
    margin-bottom: 15px;
    width: 80%;
}

.input-group input {
    border: 0.5px solid #797777;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.input-group-submit {
    width: 80%;
}


.input-group-submit, input[type="submit"] {
    background-color: #945c5c;
    color: white;
    cursor: pointer;
    width: auto;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    padding: 3px;
    box-sizing: border-box;
    outline: none;
    transition: background-color 1s ease;
}


.forgotpass-text {
    width: 100%;
    margin-top: auto;
    padding: 20px;
}

.input-group-submit:hover, input[type="submit"]:hover {

    background-color: hsl(0, 63%, 34%); /* Darker blue on hover */
}

.not-member-text {
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding-top: 20px;
}
